body {
    background: #f3f3f3;

    .container {

        box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);

        #logoContainer {
            background: #434343;
            height: 70px;
            display: block;
        }

        #logoSeparator {
            background: #0f58a8;
            height: 50px;
        }
    }
}
